{
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.js.in"],
      "options": { "parser": "json" }
    },
    {
      "files": ["*.html.in"],
      "options": { "parser": "html" }
    }
  ]
}
