cmakelang==0.6.13
  six==1.15.0
pipdeptree==2.0.0
  pip==21.1.1
safety==1.10.3
  click==7.1.2
  dparse==0.5.1
    packaging==20.9
      pyparsing==2.4.7
    PyYAML==5.4.1
    toml==0.10.2
  packaging==20.9
    pyparsing==2.4.7
  requests==2.25.1
    certifi==2020.12.5
    chardet==4.0.0
    idna==2.10
    urllib3==1.26.5
  setuptools==49.2.1
wheel==0.36.2
yamllint==1.26.1
  pathspec==0.8.1
  PyYAML==5.4.1
